# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.pyc

problemset1/partb/server

problemset1/partb/foo.tgz

*.aux

*.log

*.out

*.gz

problemset2/writeup/Architecture-eps-converted-to.pdf
